{% block cabecalho %}
<div class="jumbotron">
    <h1>Bem Vindo ao <span class="zf-green">{% block siteNome %}{% endblock siteNome %}</span></h1>
    <p>{{site.intro}}</p>
</div>
{% endblock cabecalho %}
