{% extends 'site/index/index' %}
{% block cabecalho %}
{% endblock cabecalho %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {% if infoLogin.mensagemErro is not empty %}
                <div class="alert alert-danger" role="alert">
                    {{infoLogin.mensagemErro}}
                </div>
            {% endif %}
            <form accept-charset="UTF-8" action="/login/entrar/" method="post">
                {% if infoLogin.urlRedireciona is not empty %}
                    <input type="hidden" name="urlRedireciona" value="{{infoLogin.routeRedirect}}">
                {% else %}
                    <input type="hidden" name="urlRedireciona" value="{{host}}/admin/">
                {% endif %}
                <div class="form-group" id="inputUsuarioGroup">
                    <input class="form-control" name="usuario" type="text" id="inputUsuario" placeholder="Digite seu usuario">
                </div>
                <div class="form-group" id="inputSenhaGroup">
                    <input class="form-control" name="senha" type="password" id="inputSenha" placeholder="Digite sua senha">
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-success pull-right" type="submit" id="buttonLogin">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/login/validation.js"></script>
{% endblock conteudo %}