<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{anuncio.titulo}}</h3>
    </div>
    <div class="panel-body">
        <p><img width="100%" class="img-responsive" src="/img/{{anuncio.imagem}}"/></p>
        <p>{{anuncio.descricao}}</p>
        <p><strong>Preço: <span class="zf-green">{{currencyFormat(anuncio.preco, 'BRL', null, 'pt_BR')}}</span></strong></p>
    </div>
</div>
