{% extends 'site/index/index' %}
{% block conteudo %}
<div class="row">
    <div class="col-md-4">
        {% for anuncio in anuncios.coluna1 %}
        {% embed 'anuncio/anuncio' with {'anuncio':anuncio} %}{% endembed %}
        {% endfor %}
    </div>

    <div class="col-md-4">
        {% for anuncio in anuncios.coluna2 %}
        {% embed 'anuncio/anuncio' with {'anuncio':anuncio} %}{% endembed %}
        {% endfor %}
    </div>

    <div class="col-md-4">
        {% for anuncio in anuncios.coluna3 %}
        {% embed 'anuncio/anuncio' with {'anuncio':anuncio} %}{% endembed %}
        {% endfor %}
    </div>
</div>
{% endblock conteudo %}