{% block cabecalho %}
<div class="jumbotron">
    <h1>{{pagina.titulo}} <span class="zf-green">{% block siteNome %}{% endblock siteNome %}</span></h1>
    <p>{{pagina.descricao}}</p>
</div>
{% endblock cabecalho %}
