{% block cabecalho %}
<div class="jumbotron">
    <h1>Administração <span class="zf-green">{% block siteNome %}{% endblock siteNome %}</span></h1>
    <p>{{pagina.descricao}}</p>
</div>
{% endblock cabecalho %}
