{% set messageError = flashmessenger().render('error') %}
{% set messageSuccess = flashmessenger().render('success') %}
{% if messageError %}
    <div class="alert alert-danger" role="alert">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
    	{{messageError|raw}}
	</div>            	
{% endif %}
{% if messageSuccess %}
    <div class="alert alert-success" role="alert">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
    	{{messageSuccess|raw}}
	</div>            	
{% endif %}
