<?php
return [
    'roles_resources' => [
        'admin' => [
            'admin',
        ],
        'anonimo' => [
            'login',
        ],
        'consumidor' => [
            'comprar',
        ]
    ]
];